<div class="col-md-4 user_information">
  <img src="<%=@user.profile_img%>" alt="" class="img-circle profile_picture">
  <h4><%=@user.firstname%> <%=@user.lastname%></h4>
  <h4><%=@user.email%></h4>
  <hr>
  <h5><%= total_distance(@user) %> meters run</h5>  <!-- not implemented -->
  <h5><%=@user.city%>, <%=@user.state%></h5>
  <br>
  <a href="/logout"><button type="button" class="btn btn-default">Log Out</button></a>
</div>
