    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-links">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-links">

          <ul class="nav nav-pills nav-justified">
            <li><a href="/profile"><span class="glyphicon glyphicon-user"></span> PROFILE</a></li>
            <li><a href="/match"><span class="glyphicon glyphicon-road"></span> CURRENT MATCH</a></li>
            <li><a href="/teams"><span class="glyphicon glyphicon-eye-open"></span> TEAMS</a></li>
          </ul>


        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->

    </nav>

<div class="non_nav">

  <div class="row">

    <div class="col-md-4 user_information">
      <img src="<%=@strava_picture%>" alt="" class="img-circle profile_picture">
      <h3><%=@strava_name%></h3>
      <h4><%=@strava_first_name%> <%=@strava_last_name%></h4>
      <h4><%=@strava_email%></h4>
      <hr>
      <h5><%=@strava_miles_run%> miles run</h5>
      <h5><%=@strava_city%>, <%=@strava_state%></h5>
      <br>
      <a href="/logout"><button type="button" class="btn btn-default">Log Out</button></a>
    </div>

    <div class="col-md-8 team_information">
      <h1><%=@strava_team_name%></h1>
      <h3><%=@strava_team_description%></h3>
      <div class="row">

        <% @strava_teamates.each do |teamate| %>
        <div class="col-md-4">
          <img src="images/bg2.jpg" alt="" class="img-circle team_picture">
          <div>
            <h6><%=teamate[:name]%></h6>
            <h6><%=teamate[:first_name]%> <%=teamate[:last_name]%></h6>
            <h6><%=teamate[:miles_run]%> miles run</h6>
          </div>
        </div>
        <% end %>

      <div class="team_stats">
        <p><%=@team_total_distance%> total miles run || <%=@team_total_wins%> - <%=@team_total_losses%> record</p>
        </div>
        <div class="team_messages">
        </div>

        <div class="team_chat_wrapper">

          <div class="title_box">
            <label>Team Chat</label>
          </div>
          <div class="actionBox">
            <form class="form-inline" role="form">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Say something" />
              </div>
              <div class="form-group">
                <button class="btn btn-default">Add</button>
              </div>
            </form>

            <ul class="commentList">
              <% @comments.each do |comment| %>
              <li>
                <div class="commenterImage">
                  <img src="<%=comment[:user_pic]%>" />
                </div>
                <div class="commentText">
                  <p class=""><%=comment[:body]%></p> <span class="date sub-text"><%=comment[:date]%></span>
                </div>
              </li>
              <%end%>
            </ul>
          </div>
        </div>
      </div> <!-- divititis -->
    </div>

  </div> <!-- non nav -->
