
<!-- *********** Curent Match active section *********** -->

<!-- ***** Game information ***** -->
<%= render 'layouts/header'  %>

<div class="non_nav">
<% if @game %>
  <div class="current_match_header">
    <h2><%=@game.name%></h2>
    <h4><%=@game.description%></h2>
    </div>

    <!-- ***** Display players in order (OR maybe team vs team layout) ***** -->
    <div class="row">

      <div class="col-md-6 team_show">

        <% @home_team_users.each do |player| %>

        <div class="col-md-3 team_player team_a">
          <img src="<%=player.profile_img%>" alt="" class="img-circle team_match_image">
          <p><%=player.firstname%> <%=player.lastname%></p>
          <p><%=player.city%>, <%=player.state%></p>
        </div>

        <%end%>
      </div>

      <div class="col-md-6 team_show">

       <% @away_team_users.each do |player| %>

       <div class="col-md-3 team_player team_b">
        <img src="<%=player.profile_img%>" alt="" class="img-circle team_match_image">
        <p><%=player.firstname%> <%=player.lastname%></p>
        <p><%=player.city%>, <%=player.state%></p>
      </div>

      <%end%>
    </div>
  </div><!-- end row -->

  <br><br>

  <!-- ***** Current score ***** -->

  <div class="row">

    <div class="col-md-5 team_show team_a">
      <h3><%=@home_team.name%></h3>
    </div>


    <div class="col-md-2 team_show">
      <div id="hidden_end_time"><%=@end_time%></div>

      <h3><div class="our_countdown"></div>
        <script type="text/javascript">
        $(".our_countdown")
        .countdown($("#hidden_end_time").text(), function(event) {
          $(this).text(
            event.strftime('%D days %H:%M:%S')
            );
        });
      </script></h3>

    </div>

    <div class="col-md-5 team_show team_b">
      <h3><%=@away_team.name%></h3>
    </div>

  </div>


  <div class="row">
    <div class="col-md-5 team_show team_a">
      <h1><%=@home_total%> meters</h1>
    </div>
    <div class="col-md-2 team_show">
      <h1>VS.</h1>
    </div>
    <div class="col-md-5 team_show team_b">
      <h1><%=@away_total%> meters</h1>
    </div>
  </div>
  <br><br><br>

  <!-- ***** Team A run logs ***** -->

  <div class="row">

    <div class="col-md-4 team_show team_a">
      <ul class="list-group">
        <% @home_activities.each do |activity| %>

        <li class="list-group-item"><%=activity.user.firstname%> <%=activity.user.lastname%> ran <%=activity.distance%> meters <a href="" data-lightbox="team_a_maps" data-title="<%=activity.user.firstname%> <%=activity.user.firstname%> ran <%=activity.distance%> meters"> <i class="fa fa-map-marker"></i></a></li>

        <%end%>
      </ul>
    </div>

    <!-- ***** Talk shit forum ***** -->

    <div class="col-md-4 team_show">

      <div class="title_box">
        <label>Talk Shit</label>
      </div>

      <div class="actionBox">

        <form class="form-inline" role="form">

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Say something" />
          </div>

          <div class="form-group">
            <button class="btn btn-default">Add</button>
          </div>

        </form>

        <ul class="commentList">
          <% @arr.each do |placeholder| %>
          <li>
            <div class="commenterImage">
              <img src="" />
            </div>
            <div class="commentText">
              <p class=""><%=placeholder%></p> <span class="date sub-text"><%=placeholder%></span>
            </div>
          </li>
          <%end%>
        </ul>
      </div> <!-- actin box ends -->
    </div>

    <!-- ***** Team B run logs ***** -->

    <div class="col-md-4 team_show team_b">
      <ul class="list-group">
        <% @away_activities.each do |activity| %>

        <li class="list-group-item"><%=activity.user.firstname%> <%=activity.user.lastname%> ran <%=activity.distance%> meters <a href="" data-lightbox="team_a_maps" data-title="<%=activity.user.firstname%> <%=activity.user.firstname%> ran <%=activity.distance%> meters"> <i class="fa fa-map-marker"></i></span> </a></li>

        <%end%>
      </ul>
    </div>

  </div>
<% else %>
  <h3>Not in a game</h3>
<% end %>
</div>
